<div class="registration-links">
    <ul>
        <li>
            <a href="#/registration/supplier">Add supplier</a>
        </li>
        <li>
            <a href="#/registration/restaurant">Add restaurant</a>
        </li>
    </ul>
</div>
<div class="registration-form">
    <form novalidate>
        <div class="input-label">First Name: </div>
        <div class="input">
            <input type="text" ng-model="client.firstName" required />
        </div>
        <div class="input-label">Last Name: </div>
        <div class="input">
            <input type="text" ng-model="client.lastName" required />
        </div>
        <div class="input-label">E-mail: </div>
        <div class="input">
            <input type="email" ng-model="client.email" required />
        </div>
        <div class="input-label">Password: </div>
        <div class="input">
            <input type="password" ng-model="client.password" required /><br />
        </div>
        <button ng-click="register(client)" ng-disabled="form.$invalid">Sign Up</button>
    </form>
</div>